.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;
  a {
    background: #f4f4f4;
    color: #000000;
    display: block;
    padding: 1rem;
    text-decoration: none;
    box-shadow: 0px 5px 10px #a8a8a8;
    border-radius: 10px;
  }

  a:hover {
    background-color: #e4e4e4;
    box-shadow: 0px 7px 10px #a8a8a8;
  }

  h2 {
    margin-bottom: 0;
  }
  p {
    font-size: 0.8rem;
    font-style: italic;
    color: #777777;
  }
}
